// This is an example file env.js with his location to make webapp run successfully when it is containerized.
// The real mapped env.js must be at root of the project.

// The file content must contains these three values
window.__ENV__ = {
    VITE_USERS_HOST: "http://localhost:8080",
    VITE_INCIDENTS_HOST: "http://localhost:8081",
    VITE_GIS_HOST: "http://localhost:8085",
};